
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap');

.App {
  text-align: center;
  font-family: 'IBM Plex Sans',sans-serif;

}

/*ANIMATION*/
.shake{
  animation: shake 1s;
}

.slider_container {
  display: flex;
  height: 100%;
  min-height: auto;
  padding: 5% 5% 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contrast{
  transition: 1s;
  filter: contrast(100%);
}

.contrast:hover{
  filter: contrast(200%)
}

.slider_container{
  min-height: 0;
  padding-bottom: 45px;
}

@keyframes shake {
  0%  { transform:  scale(1)}
  20% { transform:  scale(0.7)}
  40% { transform:  scale(0.9)}
  60% { transform:  scale(0.8)}
  80% { transform:  scale(1)}
  100%{ transform:  scale(1)}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
